* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 400px;
    min-height: 400px;
    width: 30%;
    height: 40%;
    box-shadow: -1px -2px 9px 8px rgba(194, 157, 157, 0.74);
    -webkit-box-shadow: -1px -2px 9px 8px rgba(194, 157, 157, 0.74);
    -moz-box-shadow: -1px -2px 9px 8px rgba(194, 157, 157, 0.74);
    border-radius: 3px;
    padding: 2px;
}

form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80%;
    width: 100%;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    margin: 0;
    font-size: 0.8em;
    color: grey;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
}

h1 {
    margin: 0;
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: 100;
}

.datos {
    height: 18%;
    width: 90%;
    border: 1px solid rgb(156, 148, 148);
    border-radius: 5px;
    outline: none;
}

.next {
    width: 25%;
    height: 15%;
    font-size: 0.8em;
    outline: none;
    border-radius: 3px;
    background-color: green;
    color: white;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    cursor: pointer;
    margin: 10px;
    border: none;
}

.datos::placeholder {
    color: rgb(156, 148, 148);
    font-family: 'Fredoka', sans-serif;
    font-size: 1.2em;
    padding-left: 10px;
}

a {
    width: 100%;
    font-family: 'Fredoka', sans-serif;
    font-size: 0.8em;
    font-weight: 100;
    padding-left: 1.3em;
    text-align: left;
    text-decoration: none;
}